In [41]:
import seaborn as sns
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [42]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [43]:
# Missing values
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [44]:
data = titanic[['age', 'fare', 'pclass', 'sex']]
data = pd.get_dummies(data, drop_first=True)
data.head()

    age     fare  pclass  sex_male
0  22.0   7.2500       3      True
1  38.0  71.2833       1     False
2  26.0   7.9250       3     False
3  35.0  53.1000       1     False
4  35.0   8.0500       3      True

In [45]:
imputer = IterativeImputer(max_iter=10, random_state=0)

In [46]:
data_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

In [47]:
print("Datos originales")
print(data.head())
print("\nDatos imputados")
print(data_imputed.head())

Datos originales
    age     fare  pclass  sex_male
0  22.0   7.2500       3      True
1  38.0  71.2833       1     False
2  26.0   7.9250       3     False
3  35.0  53.1000       1     False
4  35.0   8.0500       3      True

Datos imputados
    age     fare  pclass  sex_male
0  22.0   7.2500     3.0       1.0
1  38.0  71.2833     1.0       0.0
2  26.0   7.9250     3.0       0.0
3  35.0  53.1000     1.0       0.0
4  35.0   8.0500     3.0       1.0

Exercise 1:

Use MICE on the life-expectancy dataset kaggle.com/datasets/kumarajarshi/life-expectancy-who

In [48]:
import kagglehub
DATASET_PATH = None
# Download the dataset from Kaggle
path = kagglehub.dataset_download("kumarajarshi/life-expectancy-who")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'life-expectancy-who' dataset.
Path to dataset files: /kaggle/input/life-expectancy-who

In [49]:
life = pd.read_csv(f"{path}/Life Expectancy Data.csv")
life.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [50]:
# Missing values por columna
print("Missing values per column:")
print(life.isnull().sum())

Missing values per column:
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [51]:

num_cols = life.select_dtypes(include=['number']).columns
cat_cols = life.select_dtypes(exclude=['number']).columns

life_dummies = pd.get_dummies(life, columns=cat_cols, drop_first=True)
life_dummies.head()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Country_United States of America,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developing
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,False,False,False,False,False,False,False,False,False,True
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,False,False,False,False,False,False,False,False,False,True
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,False,False,False,False,False,False,False,False,False,True
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,False,False,False,False,False,False,False,False,False,True
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,False,False,False,False,False,False,False,False,False,True

In [52]:
#MICE
imputer = IterativeImputer(max_iter=10, random_state=0)
life_imputed_array = imputer.fit_transform(life_dummies)
life_imputed = pd.DataFrame(life_imputed_array, columns=life_dummies.columns)
life_imputed.head()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Country_United States of America,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developing
0,2015.0,65.0,263.0,62.0,0.01,71.279624,65.0,1154.0,19.1,83.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2014.0,59.9,271.0,64.0,0.01,73.523582,62.0,492.0,18.6,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2013.0,59.9,268.0,66.0,0.01,73.219243,64.0,430.0,18.1,89.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2012.0,59.5,272.0,69.0,0.01,78.184215,67.0,2787.0,17.6,93.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2011.0,59.2,275.0,71.0,0.01,7.097109,68.0,3013.0,17.2,97.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [53]:
#Imputados
life_imputed.head(50)

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Country_United States of America,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developing
0,2015.0,65.0,263.0,62.0,0.010000,71.279624,65.000000,1154.0,19.1,83.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2014.0,59.9,271.0,64.0,0.010000,73.523582,62.000000,492.0,18.6,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2013.0,59.9,268.0,66.0,0.010000,73.219243,64.000000,430.0,18.1,89.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2012.0,59.5,272.0,69.0,0.010000,78.184215,67.000000,2787.0,17.6,93.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2011.0,59.2,275.0,71.0,0.010000,7.097109,68.000000,3013.0,17.2,97.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,2010.0,58.8,279.0,74.0,0.010000,79.679367,66.000000,1989.0,16.7,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,2009.0,58.6,281.0,77.0,0.010000,56.762217,63.000000,2861.0,16.2,106.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,2008.0,58.1,287.0,80.0,0.030000,25.873925,64.000000,1599.0,15.7,110.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,2007.0,57.5,295.0,82.0,0.020000,10.910156,63.000000,1141.0,15.2,113.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,2006.0,57.3,295.0,84.0,0.030000,17.171518,64.000000,1990.0,14.7,116.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10,2005.0,57.3,291.0,85.0,0.020000,1.388648,66.000000,1296.0,14.2,118.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11,2004.0,57.0,293.0,87.0,0.020000,15.296066,67.000000,466.0,13.8,120.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,2003.0,56.7,295.0,87.0,0.010000,11.089053,65.000000,798.0,13.4,122.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,2002.0,56.2,3.0,88.0,0.010000,16.887351,64.000000,2486.0,13.0,122.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,2001.0,55.3,316.0,88.0,0.010000,10.574728,63.000000,8762.0,12.6,122.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,2000.0,54.8,321.0,88.0,0.010000,10.424960,62.000000,6532.0,12.2,122.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,2015.0,77.8,74.0,0.0,4.600000,364.975229,99.000000,0.0,58.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,2014.0,77.5,8.0,0.0,4.510000,428.749067,98.000000,0.0,57.2,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
18,2013.0,77.2,84.0,0.0,4.760000,430.876979,99.000000,0.0,56.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19,2012.0,76.9,86.0,0.0,5.140000,412.443356,99.000000,9.0,55.8,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20,2011.0,76.6,88.0,0.0,5.370000,437.062100,99.000000,28.0,55.1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21,2010.0,76.2,91.0,1.0,5.280000,41.822757,99.000000,10.0,54.3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,2009.0,76.1,91.0,1.0,5.790000,348.055952,98.000000,0.0,53.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23,2008.0,75.3,1.0,1.0,5.610000,36.622068,99.000000,0.0,52.6,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24,2007.0,75.9,9.0,1.0,5.580000,32.246552,98.000000,22.0,51.7,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25,2006.0,74.2,99.0,1.0,5.310000,3.302154,98.000000,68.0,5.8,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26,2005.0,73.5,15.0,1.0,5.160000,26.993121,98.000000,6.0,49.9,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
27,2004.0,73.0,17.0,1.0,4.540000,221.842800,99.000000,7.0,48.9,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,2003.0,72.8,18.0,1.0,4.290000,14.719289,97.000000,8.0,47.9,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
29,2002.0,73.3,15.0,1.0,3.730000,104.516916,96.000000,16.0,46.9,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
30,2001.0,73.6,14.0,1.0,4.250000,96.205571,96.000000,18.0,46.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
31,2000.0,72.6,11.0,1.0,3.660000,91.711541,96.000000,662.0,45.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
32,2015.0,75.6,19.0,21.0,0.169434,0.000000,95.000000,63.0,59.5,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
33,2014.0,75.4,11.0,21.0,0.010000,54.237318,95.000000,0.0,58.4,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34,2013.0,75.3,112.0,21.0,0.530000,544.450743,95.000000,25.0,57.2,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
35,2012.0,75.1,113.0,21.0,0.660000,555.926083,95.000000,18.0,56.1,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36,2011.0,74.9,116.0,21.0,0.560000,509.002041,95.000000,112.0,55.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
37,2010.0,74.7,119.0,21.0,0.450000,430.717586,95.000000,103.0,53.9,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
38,2009.0,74.4,123.0,20.0,0.500000,352.063642,94.000000,107.0,52.8,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
39,2008.0,74.1,126.0,20.0,0.460000,43.087173,91.000000,217.0,51.8,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40,2007.0,73.8,129.0,20.0,0.440000,320.323924,9.000000,0.0,5.8,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
41,2006.0,73.4,132.0,20.0,0.360000,270.240196,8.000000,944.0,49.8,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
42,2005.0,72.9,136.0,19.0,0.500000,2.548923,83.000000,2302.0,48.9,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
43,2004.0,72.3,14.0,19.0,0.450000,220.393699,81.000000,3289.0,47.9,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
44,2003.0,71.7,146.0,20.0,0.340000,25.018523,81.490248,15374.0,47.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
45,2002.0,71.6,145.0,20.0,0.360000,148.511984,80.529773,5862.0,46.1,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
46,2001.0,71.4,145.0,20.0,0.230000,147.986071,82.172955,2686.0,45.3,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47,2000.0,71.3,145.0,21.0,0.250000,154.455944,79.814942,0.0,44.4,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48,2015.0,52.4,335.0,66.0,5.607071,0.000000,64.000000,118.0,23.3,98.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
49,2014.0,51.7,348.0,67.0,8.330000,23.965612,64.000000,11699.0,22.7,101.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [54]:
null_counts_after = life_imputed.isnull().sum()

if null_counts_after.sum() == 0:
    print("\nNo missing values remain after MICE.")
else:
    print("\nStill missing values present.")

No missing values remain after MICE.

Exercise 2:

Use MICE on the Planets (seaborn) dataset to fill in missing values.

In [55]:
# Load planets dataset
planets = sns.load_dataset("planets")
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [56]:
# Check missing values
planets.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [57]:
# Select only numeric columns
numeric_cols = planets.select_dtypes(include=['float64', 'int64']).columns
data_planets = planets[numeric_cols].copy()
data_planets.head()

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

In [58]:
# Define MICE imputor
imputer = IterativeImputer(max_iter=10, random_state=42)
data_planets_imputed_array = imputer.fit_transform(data_planets)

data_planets_imputed = pd.DataFrame(data_planets_imputed_array, columns=data_planets.columns)
data_planets_imputed.head()

   number  orbital_period   mass  distance    year
0     1.0         269.300   7.10     77.40  2006.0
1     1.0         874.774   2.21     56.95  2008.0
2     1.0         763.000   2.60     19.84  2011.0
3     1.0         326.030  19.40    110.62  2007.0
4     1.0         516.220  10.50    119.47  2009.0

In [59]:
missing_after = data_planets_imputed.isnull().sum()

if missing_after.sum() == 0:
    print("\nNo missing values remain after applying MICE to numeric columns.")
else:
    print("\nThere are still missing values present.")

No missing values remain after applying MICE to numeric columns.